<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.mapper.StockRecordMapper">
    
    <resultMap type="StockRecord" id="StockRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="warehouseCode"    column="warehouse_code"    />
        <result property="locationCode"    column="location_code"    />
        <result property="labelId"    column="label_id"    />
        <result property="recordType"    column="record_type"    />
        <result property="matCode"    column="mat_code"    />
        <result property="matName"    column="mat_name"    />
        <result property="fdCode"    column="fd_code"    />
        <result property="figNum"    column="fig_num"    />
        <result property="matGroup"    column="mat_group"    />
        <result property="matClass"    column="mat_class"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="batch"    column="batch"    />
        <result property="quantity"    column="quantity"    />
        <result property="orderNo"    column="order_no"    />
        <result property="workshopCode"    column="workshop_code"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockRecordVo">
        select record_id, warehouse_code, location_code, label_id, record_type, mat_code, mat_name, fd_code, fig_num, mat_group, mat_class, unit_code, batch, quantity, order_no, workshop_code, supplier_code, supplier_name, del_flag, create_by, create_time, update_by, update_time from stock_record
    </sql>

    <select id="selectStockRecordList" parameterType="StockRecord" resultMap="StockRecordResult">
        <include refid="selectStockRecordVo"/>
        WHERE del_flag = 0
        <if test="warehouseCode != null  and warehouseCode != ''"> and warehouse_code = #{warehouseCode}</if>
        <if test="locationCode != null  and locationCode != ''"> and location_code = #{locationCode}</if>
        <if test="labelId != null "> and label_id = #{labelId}</if>
        <if test="recordType != null  and recordType != ''"> and record_type = #{recordType}</if>
        <if test="matCode != null  and matCode != ''"> and mat_code = #{matCode}</if>
        <if test="matName != null  and matName != ''"> and mat_name like concat('%', #{matName}, '%')</if>
        <if test="fdCode != null  and fdCode != ''"> and fd_code = #{fdCode}</if>
        <if test="figNum != null  and figNum != ''"> and fig_num = #{figNum}</if>
        <if test="matGroup != null  and matGroup != ''"> and mat_group = #{matGroup}</if>
        <if test="matClass != null  and matClass != ''"> and mat_class = #{matClass}</if>
        <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
        <if test="batch != null  and batch != ''"> and batch = #{batch}</if>
        <if test="quantity != null "> and quantity = #{quantity}</if>
        <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
        <if test="workshopCode != null  and workshopCode != ''"> and workshop_code = #{workshopCode}</if>
        <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
        <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
        <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        ORDER BY create_time DESC
    </select>

    <select id="selectStockRecordListByOrderNo" resultMap="StockRecordResult">
        <include refid="selectStockRecordVo"/>
        WHERE del_flag = 0 AND order_no = #{orderNo}
        ORDER BY create_time DESC
    </select>
    
    <select id="selectStockRecordByRecordId" parameterType="Long" resultMap="StockRecordResult">
        <include refid="selectStockRecordVo"/>
        where del_flag = 0 AND record_id = #{recordId}
    </select>
        
    <insert id="insertStockRecord" parameterType="StockRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into stock_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseCode != null">warehouse_code,</if>
            <if test="locationCode != null">location_code,</if>
            <if test="labelId != null">label_id,</if>
            <if test="recordType != null">record_type,</if>
            <if test="matCode != null">mat_code,</if>
            <if test="matName != null">mat_name,</if>
            <if test="fdCode != null">fd_code,</if>
            <if test="figNum != null">fig_num,</if>
            <if test="matGroup != null">mat_group,</if>
            <if test="matClass != null">mat_class,</if>
            <if test="unitCode != null">unit_code,</if>
            <if test="batch != null">batch,</if>
            <if test="quantity != null">quantity,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="workshopCode != null">workshop_code,</if>
            <if test="supplierCode != null">supplier_code,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseCode != null">#{warehouseCode},</if>
            <if test="locationCode != null">#{locationCode},</if>
            <if test="labelId != null">#{labelId},</if>
            <if test="recordType != null">#{recordType},</if>
            <if test="matCode != null">#{matCode},</if>
            <if test="matName != null">#{matName},</if>
            <if test="fdCode != null">#{fdCode},</if>
            <if test="figNum != null">#{figNum},</if>
            <if test="matGroup != null">#{matGroup},</if>
            <if test="matClass != null">#{matClass},</if>
            <if test="unitCode != null">#{unitCode},</if>
            <if test="batch != null">#{batch},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="workshopCode != null">#{workshopCode},</if>
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockRecord" parameterType="StockRecord">
        update stock_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="warehouseCode != null">warehouse_code = #{warehouseCode},</if>
            <if test="locationCode != null">location_code = #{locationCode},</if>
            <if test="labelId != null">label_id = #{labelId},</if>
            <if test="recordType != null">record_type = #{recordType},</if>
            <if test="matCode != null">mat_code = #{matCode},</if>
            <if test="matName != null">mat_name = #{matName},</if>
            <if test="fdCode != null">fd_code = #{fdCode},</if>
            <if test="figNum != null">fig_num = #{figNum},</if>
            <if test="matGroup != null">mat_group = #{matGroup},</if>
            <if test="matClass != null">mat_class = #{matClass},</if>
            <if test="unitCode != null">unit_code = #{unitCode},</if>
            <if test="batch != null">batch = #{batch},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="workshopCode != null">workshop_code = #{workshopCode},</if>
            <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <update id="deleteStockRecordByRecordId" parameterType="Long">
        update stock_record SET del_flag = 1 where record_id = #{recordId}
    </update>

    <update id="deleteStockRecordByRecordIds" parameterType="String">
        update stock_record SET del_flag = 1 where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </update>

    <select id="statsStockRecord" resultType="com.ruoyi.stock.domain.stats.StockRecordStats">
        SELECT
            mat_code AS matCode, mat_name AS matName, fig_num AS figNum,
            IFNULL(SUM(CASE WHEN record_type = 'in_purchase' THEN quantity END),0) AS inPurchase,
            IFNULL(SUM(CASE WHEN record_type = 'in_purchase_return' THEN quantity END),0) AS inPurchasePeturn,
            IFNULL(SUM(CASE WHEN record_type = 'out_production' THEN quantity END),0) AS outProduction,
            IFNULL(SUM(CASE WHEN record_type = 'out_production_return' THEN quantity END),0) AS outProductionReturn,
            IFNULL(SUM(CASE WHEN record_type = 'out_common' THEN quantity END),0) AS outCommon,
            IFNULL(SUM(CASE WHEN record_type = 'out_common_return' THEN quantity END),0) AS outCommonReturn,
            IFNULL(SUM(CASE WHEN record_type = 'upper' THEN quantity END),0) AS upper,
            IFNULL(SUM(CASE WHEN record_type = 'lower' THEN quantity END),0) AS lower,
            IFNULL(SUM(CASE WHEN record_type = 'allot_in' THEN quantity END),0) AS allotIn,
            IFNULL(SUM(CASE WHEN record_type = 'allot_out' THEN quantity END),0) AS allotOut
        FROM stock_record
        WHERE del_flag = 0
        <if test="matCode != null and matCode != ''">
            AND mat_code = #{matCode}
        </if>
        <if test="matName != null and matName != ''">
            AND mat_name LIKE CONCAT('%', #{matName}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''">
            AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
        GROUP BY mat_code,mat_name,fd_code,fig_num,mat_group,mat_class,unit_code
    </select>
</mapper>