<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.mapper.StockAllotDetailMapper">
    
    <resultMap type="StockAllotDetail" id="StockAllotDetailResult">
        <result property="detailId"    column="detail_id"    />
        <result property="allotNo"    column="allot_no"    />
        <result property="srcWarehouseCode"    column="src_warehouse_code"    />
        <result property="destWarehouseCode"    column="dest_warehouse_code"    />
        <result property="srcLocationCode"    column="src_location_code"    />
        <result property="destLocationCode"    column="dest_location_code"    />
        <result property="lineNo"    column="line_no"    />
        <result property="labelId"    column="label_id"    />
        <result property="matCode"    column="mat_code"    />
        <result property="matName"    column="mat_name"    />
        <result property="fdCode"    column="fd_code"    />
        <result property="figNum"    column="fig_num"    />
        <result property="matGroup"    column="mat_group"    />
        <result property="matClass"    column="mat_class"    />
        <result property="batch"    column="batch"    />
        <result property="quantity"    column="quantity"    />
        <result property="signQuantity"    column="sign_quantity"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="supplierCode"    column="supplier_code"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockAllotDetailVo">
        select detail_id, allot_no, src_warehouse_code, dest_warehouse_code, src_location_code, dest_location_code, line_no, label_id, mat_code, mat_name, fd_code, fig_num, mat_group, mat_class, batch, quantity, sign_quantity, unit_code, supplier_code, supplier_name, del_flag, create_by, create_time, update_by, update_time from stock_allot_detail
    </sql>

    <select id="selectStockAllotDetailList" parameterType="StockAllotDetail" resultMap="StockAllotDetailResult">
        <include refid="selectStockAllotDetailVo"/>
        WHERE del_flag = 0
        <if test="allotNo != null  and allotNo != ''"> and allot_no = #{allotNo}</if>
        <if test="srcWarehouseCode != null  and srcWarehouseCode != ''"> and src_warehouse_code = #{srcWarehouseCode}</if>
        <if test="destWarehouseCode != null  and destWarehouseCode != ''"> and dest_warehouse_code = #{destWarehouseCode}</if>
        <if test="srcLocationCode != null  and srcLocationCode != ''"> and src_location_code = #{srcLocationCode}</if>
        <if test="destLocationCode != null  and destLocationCode != ''"> and dest_location_code = #{destLocationCode}</if>
        <if test="lineNo != null "> and line_no = #{lineNo}</if>
        <if test="labelId != null  and labelId != ''"> and label_id = #{labelId}</if>
        <if test="matCode != null  and matCode != ''"> and mat_code = #{matCode}</if>
        <if test="matName != null  and matName != ''"> and mat_name like concat('%', #{matName}, '%')</if>
        <if test="fdCode != null  and fdCode != ''"> and fd_code = #{fdCode}</if>
        <if test="figNum != null  and figNum != ''"> and fig_num = #{figNum}</if>
        <if test="matGroup != null  and matGroup != ''"> and mat_group = #{matGroup}</if>
        <if test="matClass != null  and matClass != ''"> and mat_class = #{matClass}</if>
        <if test="batch != null  and batch != ''"> and batch = #{batch}</if>
        <if test="quantity != null "> and quantity = #{quantity}</if>
        <if test="signQuantity != null "> and sign_quantity = #{signQuantity}</if>
        <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
        <if test="supplierCode != null  and supplierCode != ''"> and supplier_code = #{supplierCode}</if>
        <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
    </select>

    <select id="selectStockAllotDetailListByAllotNo" resultMap="StockAllotDetailResult">
        <include refid="selectStockAllotDetailVo"/>
        WHERE del_flag = 0 AND allot_no = #{allotNo}
        ORDER BY line_no ASC
    </select>
    
    <select id="selectStockAllotDetailByDetailId" parameterType="Long" resultMap="StockAllotDetailResult">
        <include refid="selectStockAllotDetailVo"/>
        where del_flag = 0 and detail_id = #{detailId}
    </select>
        
    <insert id="insertStockAllotDetail" parameterType="StockAllotDetail" useGeneratedKeys="true" keyProperty="detailId">
        insert into stock_allot_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="allotNo != null">allot_no,</if>
            <if test="srcWarehouseCode != null">src_warehouse_code,</if>
            <if test="destWarehouseCode != null">dest_warehouse_code,</if>
            <if test="srcLocationCode != null">src_location_code,</if>
            <if test="destLocationCode != null">dest_location_code,</if>
            <if test="lineNo != null">line_no,</if>
            <if test="labelId != null">label_id,</if>
            <if test="matCode != null">mat_code,</if>
            <if test="matName != null">mat_name,</if>
            <if test="fdCode != null">fd_code,</if>
            <if test="figNum != null">fig_num,</if>
            <if test="matGroup != null">mat_group,</if>
            <if test="matClass != null">mat_class,</if>
            <if test="batch != null">batch,</if>
            <if test="quantity != null">quantity,</if>
            <if test="signQuantity != null">sign_quantity,</if>
            <if test="unitCode != null">unit_code,</if>
            <if test="supplierCode != null">supplier_code,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="allotNo != null">#{allotNo},</if>
            <if test="srcWarehouseCode != null">#{srcWarehouseCode},</if>
            <if test="destWarehouseCode != null">#{destWarehouseCode},</if>
            <if test="srcLocationCode != null">#{srcLocationCode},</if>
            <if test="destLocationCode != null">#{destLocationCode},</if>
            <if test="lineNo != null">#{lineNo},</if>
            <if test="labelId != null">#{labelId},</if>
            <if test="matCode != null">#{matCode},</if>
            <if test="matName != null">#{matName},</if>
            <if test="fdCode != null">#{fdCode},</if>
            <if test="figNum != null">#{figNum},</if>
            <if test="matGroup != null">#{matGroup},</if>
            <if test="matClass != null">#{matClass},</if>
            <if test="batch != null">#{batch},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="signQuantity != null">#{signQuantity},</if>
            <if test="unitCode != null">#{unitCode},</if>
            <if test="supplierCode != null">#{supplierCode},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockAllotDetail" parameterType="StockAllotDetail">
        update stock_allot_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="allotNo != null">allot_no = #{allotNo},</if>
            <if test="srcWarehouseCode != null">src_warehouse_code = #{srcWarehouseCode},</if>
            <if test="destWarehouseCode != null">dest_warehouse_code = #{destWarehouseCode},</if>
            <if test="srcLocationCode != null">src_location_code = #{srcLocationCode},</if>
            <if test="destLocationCode != null">dest_location_code = #{destLocationCode},</if>
            <if test="lineNo != null">line_no = #{lineNo},</if>
            <if test="labelId != null">label_id = #{labelId},</if>
            <if test="matCode != null">mat_code = #{matCode},</if>
            <if test="matName != null">mat_name = #{matName},</if>
            <if test="fdCode != null">fd_code = #{fdCode},</if>
            <if test="figNum != null">fig_num = #{figNum},</if>
            <if test="matGroup != null">mat_group = #{matGroup},</if>
            <if test="matClass != null">mat_class = #{matClass},</if>
            <if test="batch != null">batch = #{batch},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="signQuantity != null">sign_quantity = #{signQuantity},</if>
            <if test="unitCode != null">unit_code = #{unitCode},</if>
            <if test="supplierCode != null">supplier_code = #{supplierCode},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where detail_id = #{detailId}
    </update>

    <update id="updateStockAllotReceive">
        update stock_allot_detail
        set
            dest_location_code = #{destLocationCode},
            sign_quantity = #{signQuantity},
            update_by = #{updateBy},
            update_time = #{updateTime}
        where detail_id = #{detailId}
    </update>

    <update id="deleteStockAllotDetailByDetailId" parameterType="Long">
        update stock_allot_detail set del_flag = 1 where detail_id = #{detailId}
    </update>

    <update id="deleteStockAllotDetailByDetailIds" parameterType="String">
        update stock_allot_detail set del_flag = 1 where detail_id in
        <foreach item="detailId" collection="array" open="(" separator="," close=")">
            #{detailId}
        </foreach>
    </update>
</mapper>