<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.stock.mapper.StockInReturnMapper">
    
    <resultMap type="StockInReturn" id="StockInReturnResult">
        <result property="returnId"    column="return_id"    />
        <result property="returnNo"    column="return_no"    />
        <result property="returnType"    column="return_type"    />
        <result property="returnReason"    column="return_reason"    />
        <result property="returnStatus"    column="return_status"    />
        <result property="orderNo"    column="order_no"    />
        <result property="warehouseCode"    column="warehouse_code"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStockInReturnVo">
        select return_id, return_no, return_type, return_reason, return_status, order_no, warehouse_code, del_flag, create_by, create_time, update_by, update_time from stock_in_return
    </sql>
    
    <select id="selectStockInReturnTotal" resultType="java.util.Map">
        SELECT
            COUNT(return_type = 'purchase_return' OR NULL) AS purchaseReturn
        FROM stock_in_return
        WHERE del_flag = 0
        <if test="selectDate != null">
            AND date_format(create_time,'%y%m%d') = date_format(#{selectDate},'%y%m%d')
        </if>
    </select>

    <select id="selectStockInReturnList" parameterType="StockInReturn" resultMap="StockInReturnResult">
        <include refid="selectStockInReturnVo"/>
        WHERE del_flag = 0
        <if test="returnNo != null  and returnNo != ''"> and return_no = #{returnNo}</if>
        <if test="returnType != null  and returnType != ''"> and return_type = #{returnType}</if>
        <if test="returnReason != null  and returnReason != ''"> and return_reason = #{returnReason}</if>
        <if test="returnStatus != null  and returnStatus != ''"> and return_status = #{returnStatus}</if>
        <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
        <if test="warehouseCode != null  and warehouseCode != ''"> and warehouse_code = #{warehouseCode}</if>
    </select>

    <select id="selectStockInReturnByReturnNo" resultMap="StockInReturnResult">
        <include refid="selectStockInReturnVo"/>
        WHERE del_flag = 0 AND return_no = #{returnNo}
    </select>
    
    <select id="selectStockInReturnByReturnId" parameterType="Long" resultMap="StockInReturnResult">
        <include refid="selectStockInReturnVo"/>
        where del_flag = 0 AND return_id = #{returnId}
    </select>
        
    <insert id="insertStockInReturn" parameterType="StockInReturn" useGeneratedKeys="true" keyProperty="returnId">
        insert into stock_in_return
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="returnNo != null">return_no,</if>
            <if test="returnType != null">return_type,</if>
            <if test="returnReason != null">return_reason,</if>
            <if test="returnStatus != null">return_status,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="warehouseCode != null">warehouse_code,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="returnNo != null">#{returnNo},</if>
            <if test="returnType != null">#{returnType},</if>
            <if test="returnReason != null">#{returnReason},</if>
            <if test="returnStatus != null">#{returnStatus},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="warehouseCode != null">#{warehouseCode},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStockInReturn" parameterType="StockInReturn">
        update stock_in_return
        <trim prefix="SET" suffixOverrides=",">
            <if test="returnNo != null">return_no = #{returnNo},</if>
            <if test="returnType != null">return_type = #{returnType},</if>
            <if test="returnReason != null">return_reason = #{returnReason},</if>
            <if test="returnStatus != null">return_status = #{returnStatus},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="warehouseCode != null">warehouse_code = #{warehouseCode},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where return_id = #{returnId}
    </update>

    <update id="deleteStockInReturnByReturnId" parameterType="Long">
        update stock_in_return SET del_flag = 1 where return_id = #{returnId}
    </update>

    <update id="deleteStockInReturnByReturnIds" parameterType="String">
        update stock_in_return SET del_flag = 1 where return_id in
        <foreach item="returnId" collection="array" open="(" separator="," close=")">
            #{returnId}
        </foreach>
    </update>
</mapper>